.header {
  padding-top: 30px;
  margin-bottom: 30px !important;
}

.logo {
  font-weight: 800;
  font-size: 26px;
  // color: #000000;
  background: -webkit-linear-gradient(45deg, #fe4043 0%, #faa070 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logoSubtitle {
  color: #b4b4b4;
}
