@import "~react-bulma-components/src/index.sass";

.App {
  text-align: center;
}

.title {
  font-weight: 800;
  font-size: 35px;
  color: #ffffff;
}

.subtitle {
  font-weight: 800;
  font-size: 25px;
  color: #dbdbdb;
  margin-bottom: -20px;
}
